<h2>Meus Endereços</h2>

<table *ngIf="addresses.length > 0; else semEnderecos">
  <thead>
    <tr>
      <th>Rua</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>CEP</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let addr of addresses">
      <td>{{ addr.street }}</td>
      <td>{{ addr.city }}</td>
      <td>{{ addr.state }}</td>
      <td>{{ addr.zipCode }}</td>
      <td>
        <button (click)="setAsDefault(addr.id)">Definir como padrão</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #semEnderecos>
  <p>Nenhum endereço cadastrado.</p>
</ng-template>
