@{
    ViewData["Title"] = "Login Necessário";
}

<h2>Login Necessário</h2>
<p>Você precisa estar logado para acessar o carrinho.</p>

<a href="@Url.Action("Login", "Auth")" class="btn btn-primary">Ir para Login</a>
