html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-thumbnail {
    width: 100px; /* ou a largura que você preferir */
    height: auto;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-remove {
    /* Estilização para o botão remover, se necessário */
}