@model CandyWebMVC.Models.Address

<h2>Adicionar Novo Endereço</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Street" class="control-label">Rua</label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
   <div class="form-group">
        <label asp-for="City" class="control-label">Cidade</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label">Estado</label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
   <div class="form-group">
        <label asp-for="CEP" class="control-label">CEP</label>
        <input asp-for="CEP" class="form-control" />
        <span asp-validation-for="CEP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar Endereço" class="btn btn-primary" />
    </div>
</form>
